:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --white: #FFFFFF;
  --black-color: #000000;
  --secondary-background-color: #F5F5F5;
  --third-background-color: #2F303A;
  --accent-color: #2196F3;
  --icon-color: #AFB1B8;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--title-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 900px) {
  body {
    background-color: red;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--third-background-color);
  color: var(--white);
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 48, 58);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--animation-cubic);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
  z-index: 3;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.modal__icon {
  transition: fill 250ms var(--animation-cubic);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.form {
  width: 528px;
  height: 581px;
  margin: 0;
  padding: 40px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  height: 58px;
  color: var(--title-text-color);
}
.form__label {
  color: var(--primary-text-color);
}

.form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  transition: border-color 250ms var(--animation-cubic);
}
.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: currentColor;
  transition: fill 250ms var(--animation-cubic);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #212121;
  letter-spacing: 0.03em;
}

.feedback {
  margin-bottom: 20px;
  height: 138px;
}

.feedback__area {
  resize: none;
  margin-top: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--animation-cubic);
}
.feedback__area:focus {
  border-color: var(--accent-color);
}

.policy {
  margin-bottom: 30px;
  line-height: 1.71;
}

.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.agreement__text {
  text-decoration: underline;
  color: #2196F3;
}
.agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.agreement__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background: #FFFFFF;
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: 0;
  transition: background-color 250ms var(--animation-cubic), border 250ms var(--animation-cubic);
}
.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  border: none;
  background-size: contain;
}

.submit-btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: inline-flex;
  align-items: center;
}
.header-nav__logo {
  margin-right: 93px;
}

.site-nav {
  display: flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__item {
  position: relative;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--animation-cubic);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
  padding: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.mail__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--animation-cubic);
}
.contacts__mail:hover .mail__icon, .contacts__mail:focus .mail__icon {
  fill: var(--accent-color);
}

.contacts__mail {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-cubic);
}
.contacts__mail__mail:hover, .contacts__mail__mail:focus {
  color: var(--accent-color);
}

.contacts__tel {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-cubic);
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

.tel__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms var(--animation-cubic);
}
.tel__icon:hover .tel__icon, .tel__icon:focus .tel__icon {
  fill: var(--accent-color);
}

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__text {
  color: var(--accent-color);
}

.special {
  padding-top: 94px;
  padding-bottom: 94px;
}
.special__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}
.special__item {
  flex-basis: 270px;
}
.special__icons {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.special__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}
.special__text {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}
.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.work__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.work__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

.work__item {
  position: relative;
  height: 294px;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #F5F4FA;
  padding: 94px 0;
}
.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  background-color: #F5F4FA;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.worker {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker__meta {
  padding-top: 30px;
  padding-bottom: 30px;
}
.worker:not(:last-child) {
  margin-right: 30px;
}
.worker__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.worker__position {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.socials__icon {
  fill: currentColor;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--white);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.clients__icon {
  fill: currentColor;
}

.clients__item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  font-weight: 400;
  line-height: 1.71;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
}

.box {
  display: flex;
  align-items: baseline;
}

.contact {
  margin-right: 70px;
}
.contact__list {
  padding: 0;
  margin: 0;
}
.contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact__maps {
  font-style: normal;
  color: var(--white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
}
.contact__maps:hover, .contact__maps:focus {
  color: var(--accent-color);
}

.contact__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.addition {
  width: 206px;
  height: 80px;
}
.addition__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
}
.addition__list {
  display: flex;
}

.addition__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.addition__item:last-child {
  margin-right: 0;
}

.social:hover,
.social:focus {
  background-color: var(--accent-color);
}

.social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--animation-cubic);
}
.social__icon {
  fill: var(--white);
}

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.subscribe__label {
  display: flex;
}
.subscribe__text {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.subscribe__icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.subscribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.subscribe__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background: #2F303A;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--animation-cubic);
}
.subscribe__input:focus {
  border-color: var(--accent-color);
}

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project__filter {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__exsample {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.examples__item {
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
}
.examples__link {
  transition: box-shadow 250ms var(--animation-cubic);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__item:nth-child(3n) {
  margin-right: 0;
}
.examples__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.examples__card {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms var(--animation-cubic);
}
.examples__link:hover .examples__overlay, .examples__link:focus .examples__overlay {
  transform: translatey(0);
}

.card__text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__img {
  display: block;
}

.overlay__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */