$mainFont: "Roboto";
$secondaryFont: "Raleway";


:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --white: #FFFFFF;
    --black-color: #000000;
    --secondary-background-color: #F5F5F5;
    --third-background-color: #2F303A;
    --accent-color: #2196F3;
    --icon-color: #AFB1B8;

    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);

}